{% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
        <div class="col-4 mt-5">
            <h1>Create new Artist</h1>
            {{ include('web/artist/_form.html.twig') }}
            <a href="{{ path('app_web_artist_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
